
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>ZibicoLive - Giriş</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Onur Saral" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="">
    <link rel="icon" href="" type="image/x-icon">

    <!-- vector map CSS -->
    <link href="/Contents/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="/Contents/dist/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->

    <div class="wrapper pa-0">
        <header class="sp-header">
            <div class="sp-logo-wrap pull-left">
                <a href="index.html">
                    <img class="brand-img mr-10" src="~/Contents/img/logo.png" alt="brand" />
                    <span class="brand-text">ZibicoLive</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </header>

        <!-- Main Content -->
        <div class="page-wrapper pa-0 ma-0 auth-page">
            <div class="container-fluid">
                <!-- Row -->
                <div class="table-struct full-width full-height">
                    <div class="table-cell vertical-align-middle auth-form-wrap">
                        <div class="auth-form  ml-auto mr-auto no-float">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="mb-30">
                                        <h3 class="text-center txt-dark mb-10">ZibicoLive Yönetim Sistemi</h3>
                                        <h6 class="text-center nonecase-font txt-grey">Sisteme giriş için bilgilerinizi giriniz</h6>
                                    </div>
                                    @if (TempData["Error"] != null)
                                    {
                                        <div class="alert alert-danger alert-dismissable mt-20">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>@TempData["Error"]
                                        </div>
                                    }
                                    <div class="form-wrap">
                                        <form action="/Login/Login" method="post">
                                            <div class="form-group">
                                                <label class="control-label mb-10" for="Username">Kullanıcı Adı</label>
                                                <input type="text" class="form-control" id="Username" name="Username" placeholder="Kullanıcı Adınız">
                                            </div>
                                            <div class="form-group">
                                                <label class="pull-left control-label mb-10" for="Password">Şifreniz</label>
                                                <div class="clearfix"></div>
                                                <input type="password" class="form-control" id="Password" name="Password" placeholder="Şifreniz">
                                            </div>

                                            <div class="form-group">
                                                <div class="checkbox checkbox-primary pr-10 pull-left">
                                                    <input id="Remember" name="Remember" type="checkbox" value="true">
                                                    <label for="Remember"> Beni Hatırla</label>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-info btn-rounded">Giriş Yap</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->
            </div>

        </div>
        <!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="/Contents/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Contents/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Contents/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="/Contents/dist/js/jquery.slimscroll.js"></script>

    <!-- Init JavaScript -->
    <script src="/Contents/dist/js/init.js"></script>
</body>
</html>
